$black: #231815;
$white: #ffffff;

$primary-color: #ffcb05;
$secondary-color: #3d7dca;
$main-color: #003366;
$complementary-color: #e45524;

$primary-text-color: #ffd700;
$secondary-text-color: #02213e;

$overlay: #231815f1;
