@use "../styles/style.scss" as styles;

.wrapper {
  &__header {
    padding: 2rem 2rem;

    text-align: center;
    background-color: styles.$complementary-color;
  }
  main {
    height: 50vh;
    background: linear-gradient(
      to bottom,
      styles.$complementary-color 0%,
      styles.$complementary-color 40%,
      styles.$main-color 40%,
      styles.$main-color 100%
    );
  }
}
