@use "../../styles/style.scss" as styles;

aside {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;

  & .container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100vw;
    padding-inline: 1rem;
    ::-webkit-scrollbar {
      display: none;
    }

    &__sliders {
      display: flex;
      margin: 2rem 4rem;

      width: 90%;
      overflow-x: scroll;
      scroll-snap-type: x proximity;
      scroll-behavior: smooth;
    }

    &__slider {
      width: fit-content;
      height: fit-content;
      padding: 0.35rem 0.75rem;
      margin-inline: 0.3rem;

      border-radius: 5px;

      background-color: styles.$secondary-color;
      color: styles.$primary-text-color;
      text-align: center;
      white-space: nowrap;
    }

    &__buttons {
      position: absolute;
      z-index: 2;
      background: none;
      border: none;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      padding: 0 0.5rem;
      color: styles.$primary-color;

      &--left {
        left: 1rem;
      }
      &--right {
        right: 1rem;
      }
    }
  }
}
