@use "../../styles/style.scss" as styles;

aside {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  & .container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100vw;
    padding-inline: 1rem;
    ::-webkit-scrollbar {
      display: none;
    }

    &__sliders {
      display: flex;
      margin-block: 2rem;

      width: 90%;
      overflow-x: scroll;
      scroll-snap-type: x proximity;
      scroll-behavior: smooth;
    }

    button {
      position: absolute;
      z-index: 2;
      background: none;
      border: none;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      padding: 0 0.5rem;
      color: styles.$primary-color;
      &.left {
        left: 1rem;
      }
      &.right {
        right: 1rem;
      }
    }
  }
}
