@use "../../styles/style.scss" as styles;

.slider {
  width: fit-content;
  height: fit-content;
  padding: 0.35rem 0.75rem;
  border-radius: 5px;
  background-color: styles.$secondary-color;
  margin-inline: 0.3rem;
  color: styles.$primary-text-color;
  text-align: center;
  white-space: nowrap;
}
